*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/src/test/java/com/dalkomm/base/
/.gradle/
/app/build/
/app/src/test/java/com/dalkomm/base/
/.idea/
/gradle/wrapper/
/gradlew
/gradlew.bat
/app/src/androidTest/java/com/dalkomm/base/
/app/src/test/java/com/beat/facedisplay/
/app/real/
/app/real/release/
/app/debuglog/